ai_studio_code.json
{
  "name": "good2AI Agent in n8n (Multimodal - FIXED)",
  "nodes":[
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aa46a723-619e-42e9-8e51-49ba51813718",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position":[ 1152, 2608 ],
      "id": "ebd296da-55f2-4b39-92de-3e94f4e16492",
      "name": "Webhook-homework",
      "webhookId": "aa46a723-619e-42e9-8e51-49ba51813718",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ekBe6PJguM1vYu7W",
          "name": "N8N_WEBHOOK_SECRE"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments":[
            { "id": "1", "name": "student_user_id", "value": "={{ $json.body.student_user_id }}", "type": "string" },
            { "id": "2", "name": "course_id", "value": "={{ $json.body.course_numeric_id }}", "type": "string" },
            { "id": "3", "name": "lesson_num", "value": "={{ $json.body.lesson_num }}", "type": "string" },
            { "id": "4", "name": "admin_chat_id", "value": "={{ $json.body.admin_group_id }}", "type": "string" },
            { "id": "5", "name": "target_message_id", "value": "={{ $json.body.original_admin_message_id || $json.body.admin_message_id }}", "type": "string" },
            { "id": "6", "name": "student_name", "value": "={{ ($json.body.user_fullname || $json.body.student_name || 'Студент').split(' ')[0] }}", "type": "string" },
            { "id": "7", "name": "hw_text", "value": "={{ $json.body.homework_text || '[Текст отсутствует]' }}", "type": "string" },
            { "id": "8", "name": "hw_file_id", "value": "={{ $json.body.homework_file_id || '' }}", "type": "string" },
            { "id": "9", "name": "lesson_desc", "value": "={{ $json.body.lesson_assignment_description ||'Оценить ДЗ' }}", "type": "string" }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position":[ 1360, 2608 ],
      "id": "c767a3f4-e2de-4779-8610-00135d69a0f1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions":[
            {
              "id": "1",
              "leftValue": "={{ $('Edit Fields').first().json.hw_file_id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position":[ 1568, 2608 ],
      "id": "c48fe72c-4461-4a12-ae13-500c5a36f35b",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const hwText = $input.first().json.hw_text || $('Edit Fields').first().json.hw_text || '[Текст отсутствует]';\nconst studentName = $('Edit Fields').first().json.student_name || 'Студент';\n\nconsole.log(`📝 Текстовое ДЗ от ${studentName}`);\n\nconst messagesContent =[{\n  type: \"text\",\n  text: `РАБОТА СТУДЕНТА:\\n${hwText}`\n}];\n\nreturn[{\n  json: {\n    ...$input.first().json,\n    messages_content: messagesContent\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 1824, 2832 ],
      "id": "e776610f-81b2-4f2b-8c3a-88491135a214",
      "name": "Prepare Text Messages"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Edit Fields').first().json.hw_file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [ 1760, 2480 ],
      "id": "07b29f88-8d31-44a5-815f-ae83489c04dc",
      "name": "Get a file",
      "credentials": { "telegramApi": { "id": "dppxB2BsMREfAmx6", "name": "Antbot_api" } },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "rules":[
            { "value1": "={{ $json.mimeType }}", "value2": "image", "operation": "startsWith" },
            { "value1": "={{ $json.mimeType }}", "value2": "audio", "operation": "startsWith" },
            { "value1": "={{ $json.mimeType }}", "value2": "video", "operation": "startsWith" }
          ]
        },
        "dataType": "string",
        "outputKey": "rule"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position":[ 1936, 2480 ],
      "id": "226aae54-49b5-4509-b77f-4abc043bbdfc",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nif (!item || !item.binary || !item.binary.data) return[];\n\nconst binaryData = item.binary.data;\nconst mimeType = item.binary.mimeType || 'image/jpeg';\n\nitem.json.base64_image = binaryData;\nitem.json.mime_type = mimeType;\nitem.json.file_type = 'image';\n\nreturn [item];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position":[ 2144, 2304 ],
      "id": "0d6e7e33-bff3-4e95-8311-a84905f31ad5",
      "name": "Process Photo"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nif (!item || !item.binary || !item.binary.data) return[];\n\nconst binaryData = item.binary.data;\nconst mimeType = item.binary.mimeType || 'audio/ogg';\nconst fileSize = binaryData.length || 0;\n\nif (fileSize > 10 * 1024 * 1024) {\n  item.json.audio_warning = `Аудио слишком большое. ИИ обработает только часть.`;\n}\n\nitem.json.audio_data = binaryData;\nitem.json.file_type = 'audio';\nitem.json.mime_type = mimeType;\n\nreturn [item];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position":[ 2144, 2480 ],
      "id": "8941124f-dc96-4391-9d4b-da824f8671e1",
      "name": "Process Audio"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nif (!item || !item.binary || !item.binary.data) return[];\n\nconst binaryData = item.binary.data;\nconst mimeType = item.binary.mimeType || 'video/ogg';\nconst fileSize = binaryData.length || 0;\n\nif (fileSize > 10 * 1024 * 1024) {\n  item.json.file_warning = `Файл слишком большой.`;\n}\n\nitem.json.audio_data = binaryData;\nitem.json.file_type = 'video';\nitem.json.mime_type = mimeType;\n\nreturn [item];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position":[ 2144, 2640 ],
      "id": "c57cc78c-1e4f-4c4d-ac26-0868e115625a",
      "name": "Process Video"
    },
    {
      "parameters": {
        "jsCode": "const hwText = $input.first().json.hw_text || $('Edit Fields').first().json.hw_text || '[Текст отсутствует]';\nconst audioWarning = $input.first().json.audio_warning || '';\nconst base64Image = $input.first().json.base64_image || null;\nconst mimeType = $input.first().json.mime_type || '';\nconst fileType = $input.first().json.file_type || '';\nconst audioData = $input.first().json.audio_data || null;\n\nlet textContent = `РАБОТА СТУДЕНТА:\\n${hwText}`;\nif (audioWarning) textContent += `\\n\\n⚠️ ${audioWarning}`;\n\nconst messagesContent = [{ type: \"text\", text: textContent }];\n\nif (base64Image && mimeType) {\n  messagesContent.push({\n    type: \"image_url\",\n    image_url: { url: `data:${mimeType};base64,${base64Image}` }\n  });\n}\n\nif (audioData && (fileType === 'audio' || fileType === 'video')) {\n  const audioFormat = mimeType.includes('ogg') ? 'ogg' : 'wav';\n  messagesContent.push({\n    type: \"input_audio\",\n    input_audio: { data: audioData, format: audioFormat }\n  });\n}\n\nreturn[{\n  json: { ...$input.first().json, messages_content: messagesContent }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position":[ 2384, 2480 ],
      "id": "db5f5380-ea46-45ac-b282-30db18893bc3",
      "name": "Prepare AI Messages"
    },
    {
      "parameters": {
        "jsCode": "const studentName = $('Edit Fields').first().json.student_name || 'Студент';\nconst lessonDesc = $('Edit Fields').first().json.lesson_desc || 'Оценить ДЗ';\nconst messagesContent = $input.first().json.messages_content || [];\n\nreturn[{\n  json: {\n    openrouter_request: {\n      model: 'google/gemini-2.5-flash',\n      response_format: { type: 'json_object' },\n      messages:[\n        {\n          role: 'system',\n          content: `Ты мудрый наставник на онлайн-курсе. Имя студента: ${studentName}.\\n\\nКонтекст задания:\\n${lessonDesc}\\n\\nТВОИ ПРАВИЛА:\\n1. Оцени работу. Если есть фото — посмотри, соответствует ли оно заданию.\\n2. Если есть аудио/видео — ИИ может напрямую воспринимать аудио.\\n3. Если работа осмысленная — ставь \"is_approved\": true. Бессмысленная — false.\\n4. Твой \"feedback_text\" должен быть личным, ободряющим.\\n\\nОтвет СТРОГО в формате JSON: {\"is_approved\": boolean, \"feedback_text\": \"string\"}`\n        },\n        {\n          role: 'user',\n          content: messagesContent\n        }\n      ]\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 2592, 2656 ],
      "id": "1165e267-a2b5-4717-9951-9ca201224f8e",
      "name": "Prepare OpenRouter JSON"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters":[
            { "name": "HTTP-Referer", "value": "https://n8n.indikov.ru" },
            { "name": "X-Title", "value": "AntBot Homework Checker" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.openrouter_request }}",
        "options": { "timeout": 60000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 2816, 2656 ],
      "id": "4ce25cfe-d0cb-49d6-ad32-a3d22b878606",
      "name": "OpenRouter AI",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": { "openRouterApi": { "id": "BT6u6hYxUcBltOkv", "name": "OpenRouter account" } },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "try {\n  const rawResponse = $input.first().json.choices[0].message.content;\n  const jsonMatch = rawResponse.match(/(\\{[\\s\\S]*\\})/);\n  \n  if (!jsonMatch || !jsonMatch[1]) throw new Error('Нет JSON в ответе ИИ');\n  const parsedData = JSON.parse(jsonMatch[1]);\n  \n  return { json: { is_approved: parsedData.is_approved, feedback_text: parsedData.feedback_text } };\n} catch (error) {\n  return { json: {\n    is_approved: true,\n    feedback_text: `⚠️ Задание одобрено автоматически из-за технической заминки ИИ. Спасибо! (Ошибка: ${error.message})`\n  }};\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 3024, 2656 ],
      "id": "8ca20969-e9de-4c9a-bd33-2a2d603f1e32",
      "name": "Parse JSON Response",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook-homework').first().json.body.callback_webhook_url_result }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters":[
            { "name": "X-CALLBACK-SIGNATURE", "value": "=500" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters":[
            { "name": "feedback_text", "value": "={{ $json.feedback_text }}" },
            { "name": "is_approved", "value": "={{ $json.is_approved }}" },
            { "name": "original_admin_message_id", "value": "={{ $('Webhook-homework').first().json.body.original_admin_message_id || $('Webhook-homework').first().json.body.admin_message_id }}" },
            { "name": "student_user_id", "value": "={{ $('Edit Fields').first().json.student_user_id }}" },
            { "name": "course_numeric_id", "value": "={{ $('Webhook-homework').first().json.body.course_numeric_id }}" },
            { "name": "lesson_num", "value": "={{ $('Webhook-homework').first().json.body.lesson_num }}" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position":[ 3280, 2592 ],
      "id": "ac33c562-7b47-4385-a7a3-a0b5345702bf",
      "name": "HTTP Request Result"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook-homework": { "main": [[ { "node": "Edit Fields", "type": "main", "index": 0 } ] ] },
    "Edit Fields": { "main": [[ { "node": "If", "type": "main", "index": 0 } ] ] },
    "If": { "main": [[ { "node": "Get a file", "type": "main", "index": 0 } ],[ { "node": "Prepare Text Messages", "type": "main", "index": 0 } ] ] },
    "Prepare Text Messages": { "main": [[ { "node": "Prepare OpenRouter JSON", "type": "main", "index": 0 } ] ] },
    "Get a file": { "main": [[ { "node": "Switch", "type": "main", "index": 0 } ] ] },
    "Switch": { "main": [[ { "node": "Process Photo", "type": "main", "index": 0 } ],[ { "node": "Process Audio", "type": "main", "index": 0 } ],[ { "node": "Process Video", "type": "main", "index": 0 } ] ] },
    "Process Photo": { "main": [[ { "node": "Prepare AI Messages", "type": "main", "index": 0 } ] ] },
    "Process Audio": { "main": [[ { "node": "Prepare AI Messages", "type": "main", "index": 0 } ] ] },
    "Process Video": { "main": [[ { "node": "Prepare AI Messages", "type": "main", "index": 0 } ] ] },
    "Prepare AI Messages": { "main": [[ { "node": "Prepare OpenRouter JSON", "type": "main", "index": 0 } ] ] },
    "Prepare OpenRouter JSON": { "main": [[ { "node": "OpenRouter AI", "type": "main", "index": 0 } ] ] },
    "OpenRouter AI": { "main": [[ { "node": "Parse JSON Response", "type": "main", "index": 0 } ] ] },
    "Parse JSON Response": { "main": [[ { "node": "HTTP Request Result", "type": "main", "index": 0 } ] ] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}