n8n-flow.json
{
  "name": "good2AI Agent in n8n (Multimodal)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aa46a723-619e-42e9-8e51-49ba51813718",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -976,
        288
      ],
      "id": "6b18db91-9dc6-4974-8b78-7b8249ef2988",
      "name": "Webhook-homework",
      "webhookId": "aa46a723-619e-42e9-8e51-49ba51813718",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ekBe6PJguM1vYu7W",
          "name": "N8N_WEBHOOK_SECRE"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "080ee5fb-782f-47d6-9d64-98ec8e8c52f2",
              "name": "student_user_id",
              "value": "={{ $json.body.student_user_id }}",
              "type": "string"
            },
            {
              "id": "78fcca79-e818-4b3c-803f-94deda4f3104",
              "name": "course_id",
              "value": "={{ $json.body.course_numeric_id }}",
              "type": "string"
            },
            {
              "id": "969420d2-791b-40a4-924d-ec7e332d3d6b",
              "name": "lesson_num",
              "value": "={{ $json.body.lesson_num }}",
              "type": "string"
            },
            {
              "id": "2d2c5f78-ecaf-408d-acdb-ff6d7a4d086d",
              "name": "admin_chat_id",
              "value": "={{ $json.body.admin_group_id }}",
              "type": "string"
            },
            {
              "id": "5b60f83f-1667-4f43-9ab5-e7aad6d988f1",
              "name": "target_message_id",
              "value": "={{ $json.body.original_admin_message_id || $json.body.admin_message_id }}",
              "type": "string"
            },
            {
              "id": "c324098f-8660-4435-acef-09352a9a0a45",
              "name": "student_name",
              "value": "={{ ($json.body.user_fullname || $json.body.student_name || 'Студент').split(' ')[0] }}",
              "type": "string"
            },
            {
              "id": "753df8c9-e2c2-4ea6-aef4-5608ef8f92b1",
              "name": "hw_text",
              "value": "={{ $json.body.homework_text || '[Текст отсутствует]' }}",
              "type": "string"
            },
            {
              "id": "2653261d-4f8b-494d-8bb3-975e69a96b0f",
              "name": "hw_file_id",
              "value": "={{ $json.body.homework_file_id || '' }}",
              "type": "string"
            },
            {
              "id": "2168a0e7-3cb9-44a2-b21c-85050c3405b2",
              "name": "lesson_desc",
              "value": "={{ $json.body.lesson_assignment_description ||'Оценить ДЗ' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -720,
        288
      ],
      "id": "0a69ffd5-8c95-4d51-81e4-927c7a5c1048",
      "name": "Edit Fields",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5b1189a6-6cee-49af-ad61-c91de051a0ea",
              "leftValue": "={{ $('Edit Fields').item.json.hw_file_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -496,
        640
      ],
      "id": "931a2758-9023-4b38-a7fa-921481ad78d8",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.homework_file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -336,
        480
      ],
      "id": "08842b94-8efb-4963-aca8-a3699ea9e9ac",
      "name": "Get a file",
      "webhookId": "f2d472aa-3e48-4cd4-9321-2685e94ffe4c",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "waitBetweenTries": 200,
      "maxTries": 2,
      "credentials": {
        "telegramApi": {
          "id": "dppxB2BsMREfAmx6",
          "name": "Antbot_api"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Проверка типа файла и маршрутизация\nconst mimeType = $input.item.json.mimeType || $input.item.json.binary?.data?.mimeType || '';\nconst fileType = mimeType.split('/')[0];\n\nlet output = 0; // 0 = text/no file, 1 = image, 2 = audio, 3 = video\n\nif (mimeType.startsWith('image')) {\n  output = 1;\n} else if (mimeType.startsWith('audio')) {\n  output = 2;\n} else if (mimeType.startsWith('video')) {\n  output = 3;\n}\n\nreturn [{\n  json: {\n    ...$input.item.json,\n    file_type: fileType,\n    mime_type: mimeType,\n    route_output: output\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        480
      ],
      "id": "c8f3a9e2-7d4b-4c1e-9f8a-2b5e6d3c4a7f",
      "name": "Route File Type"
    },
    {
      "parameters": {
        "jsCode": "// Ветка ФОТО: конвертация в Base64\nconst binaryData = items[0].binary?.data;\n\nif (!binaryData) {\n  throw new Error('Нет бинарных данных');\n}\n\nconst mimeType = binaryData.mimeType || 'image/jpeg';\nconst fileSize = binaryData.data?.length || 0;\n\nconsole.log(`📸 Фото: ${fileSize} байт, MIME: ${mimeType}`);\n\nitems[0].json.base64_image = binaryData.data;\nitems[0].json.mime_type = mimeType;\nitems[0].json.file_size = fileSize;\nitems[0].json.file_type = 'image';\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        320
      ],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Process Photo"
    },
    {
      "parameters": {
        "jsCode": "// Ветка АУДИО: проверка размера + сохранение данных\nconst binaryData = items[0].binary?.data;\n\nif (!binaryData) {\n  throw new Error('Нет бинарных данных');\n}\n\nconst mimeType = binaryData.mimeType || 'audio/ogg';\nconst fileSize = binaryData.data?.length || 0;\nconst MAX_AUDIO_SIZE = 10 * 1024 * 1024; // 10 МБ\n\nconsole.log(`🎧 Аудио: ${fileSize} байт (${(fileSize / 1024 / 1024).toFixed(2)} МБ), MIME: ${mimeType}`);\n\nif (fileSize > MAX_AUDIO_SIZE) {\n  console.log(`⚠️ Аудио больше 10 МБ!`);\n  items[0].json.audio_truncated = true;\n  items[0].json.audio_warning = `Аудио слишком большое (${(fileSize / 1024 / 1024).toFixed(2)} МБ). ИИ обработает только часть.`;\n} else {\n  items[0].json.audio_truncated = false;\n}\n\n// Сохраняем binary data для отправки в OpenRouter\nitems[0].json.audio_data = binaryData.data;\nitems[0].json.file_size = fileSize;\nitems[0].json.file_type = 'audio';\nitems[0].json.mime_type = mimeType;\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        480
      ],
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Process Audio"
    },
    {
      "parameters": {
        "jsCode": "// Ветка ВИДЕО (кружочки/голосовые video/ogg): проверка + сохранение данных\nconst binaryData = items[0].binary?.data;\n\nif (!binaryData) {\n  throw new Error('Нет бинарных данных');\n}\n\nconst mimeType = binaryData.mimeType || 'video/ogg';\nconst fileSize = binaryData.data?.length || 0;\nconst MAX_SIZE = 10 * 1024 * 1024; // 10 МБ\n\nconsole.log(`🎥 Видео/кружочек: ${fileSize} байт (${(fileSize / 1024 / 1024).toFixed(2)} МБ), MIME: ${mimeType}`);\n\nif (fileSize > MAX_SIZE) {\n  console.log(`⚠️ Видео больше 10 МБ!`);\n  items[0].json.file_truncated = true;\n  items[0].json.file_warning = `Файл слишком большой (${(fileSize / 1024 / 1024).toFixed(2)} МБ).`;\n} else {\n  items[0].json.file_truncated = false;\n}\n\n// Сохраняем binary data для отправки в OpenRouter\nitems[0].json.audio_data = binaryData.data; // Gemini принимает аудио из видео как audio_data\nitems[0].json.file_size = fileSize;\nitems[0].json.file_type = 'video';\nitems[0].json.mime_type = mimeType;\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        640
      ],
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Process Video"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$credentials.openRouterApi.apiKey}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://n8n.indikov.ru"
            },
            {
              "name": "X-Title",
              "value": "AntBot Homework Checker"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "google/gemini-2.5-flash"
            },
            {
              "name": "response_format.type",
              "value": "json_object"
            },
            {
              "name": "messages",
              "value": "=[\n  {\n    \"role\": \"system\",\n    \"content\": \"Ты мудрый наставник на онлайн-курсе. Имя студента: {{ $('Edit Fields').item.json.student_name }}.\\n\\nКонтекст задания:\\n{{ $('Edit Fields').item.json.lesson_desc }}\\n\\nТВОИ ПРАВИЛА:\\n1. Оцени работу. Если есть фото — посмотри, соответствует ли оно заданию.\\n2. Если есть аудио/видео — ИИ может напрямую воспринимать аудио.\\n3. Если работа осмысленная — ставь \\\"is_approved\\\": true. Бессмысленная — false.\\n4. Твой \\\"feedback_text\\\" должен быть личным, ободряющим, с правильными окончаниями.\\n5. Если студент прислал фото — упомяни конкретные детали.\\n\\nОтвет СТРОГО в формате JSON: {\\\"is_approved\\\": boolean, \\\"feedback_text\\\": \\\"string\\\"}\"\n  },\n  {\n    \"role\": \"user\",\n    \"content\": [\n      {\n        \"type\": \"text\",\n        \"text\": \"РАБОТА СТУДЕНТА:\\n{{ $json.hw_text || $('Edit Fields').item.json.hw_text }}{{ $json.audio_warning ? '\\n\\n⚠️ ' + $json.audio_warning : '' }}{{ $json.file_warning ? '\\n\\n⚠️ ' + $json.file_warning : '' }}\"\n      },\n      {{ $json.base64_image ? '{\"type\": \"image_url\", \"image_url\": {\"url\": \"data:' + $json.mime_type + ';base64,' + $json.base64_image + '\"}}' : 'null' }}\n      {{ $json.file_type === 'audio' || $json.file_type === 'video' ? ', {\"type\": \"input_audio\", \"input_audio\": {\"data\": \"' + ($json.audio_data || '') + '\", \"format\": \"' + ($json.mime_type.includes('ogg') ? 'ogg' : 'wav') + '\"}}' : '' }}\n    ]\n  }\n]"
            }
          ]
        },
        "options": {
          "timeout": 60000,
          "allowUnauthorizedCerts": false,
          "retry": {
            "count": 3,
            "delay": 1000,
            "factor": 2,
            "maxTimeout": 10000
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        480
      ],
      "id": "d4e5f6a7-b8c9-0123-def0-234567890123",
      "name": "OpenRouter AI",
      "credentials": {
        "httpHeaderAuth": {
          "id": "BT6u6hYxUcBltOkv",
          "name": "OpenRouter account"
        }
      },
      "onError": "continueErrorOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "// Парсинг ответа от OpenRouter\ntry {\n  const rawResponse = $input.item.json.choices[0].message.content;\n  \n  console.log('🤔 Сырой ответ ИИ:', rawResponse.substring(0, 200));\n  \n  const jsonMatch = rawResponse.match(/(\\{[\\s\\S]*\\})/);\n  \n  if (!jsonMatch || !jsonMatch[1]) {\n    throw new Error('Не удалось извлечь JSON из ответа ИИ');\n  }\n  \n  const parsedData = JSON.parse(jsonMatch[1]);\n  \n  if (typeof parsedData.is_approved !== 'boolean') {\n    throw new Error('is_approved должен быть boolean');\n  }\n  \n  if (typeof parsedData.feedback_text !== 'string') {\n    throw new Error('feedback_text должен быть string');\n  }\n  \n  return {\n    json: {\n      is_approved: parsedData.is_approved,\n      feedback_text: parsedData.feedback_text,\n      ai_raw_response: rawResponse\n    }\n  };\n} catch (error) {\n  console.error('❌ Ошибка парсинга:', error.message);\n  \n  return {\n    json: {\n      is_approved: true,\n      feedback_text: `⚠️ Возникла техническая проблема при анализе ИИ, поэтому задание одобрено автоматически. Спасибо за понимание!\\n\\n(Ошибка: ${error.message})`,\n      ai_raw_response: $input.item.json.choices?.[0]?.message?.content || 'Нет ответа',\n      parse_error: true\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        480
      ],
      "id": "e5f6a7b8-c9d0-1234-ef01-345678901234",
      "name": "Parse JSON Response",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook-homework').item.json.body.callback_webhook_url_result }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-CALLBACK-SIGNATURE",
              "value": "=500"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "feedback_text",
              "value": "={{ $('Parse JSON Response').item.json.feedback_text }}"
            },
            {
              "name": "is_approved",
              "value": "={{ $('Parse JSON Response').item.json.is_approved }}"
            },
            {
              "name": "original_admin_message_id",
              "value": "={{ $('Webhook-homework').item.json.body.original_admin_message_id || $('Webhook-homework').item.json.body.admin_message_id }}"
            },
            {
              "name": "student_user_id",
              "value": "={{ $('Edit Fields').item.json.student_user_id }}"
            },
            {
              "name": "course_numeric_id",
              "value": "={{ $('Webhook-homework').item.json.body.course_numeric_id }}"
            },
            {
              "name": "lesson_num",
              "value": "={{ $('Webhook-homework').item.json.body.lesson_num }}"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "retry": {
            "count": 2,
            "delay": 1000,
            "factor": 2
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        832,
        480
      ],
      "id": "9b9f511b-e63b-4e68-be9d-f492029149a4",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ekBe6PJguM1vYu7W",
          "name": "N8N_WEBHOOK_SECRE"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook-homework').item.json.body.callback_webhook_url_result }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-CALLBACK-SIGNATURE",
              "value": "=500"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "feedback_text",
              "value": "=⚠️ Возникла техническая проблема при проверке ДЗ, поэтому задание одобрено автоматически. Спасибо за понимание!"
            },
            {
              "name": "is_approved",
              "value": "=true"
            },
            {
              "name": "original_admin_message_id",
              "value": "={{ $('Webhook-homework').item.json.body.original_admin_message_id || $('Webhook-homework').item.json.body.admin_message_id }}"
            },
            {
              "name": "student_user_id",
              "value": "={{ $('Edit Fields').item.json.student_user_id }}"
            },
            {
              "name": "course_numeric_id",
              "value": "={{ $('Webhook-homework').item.json.body.course_numeric_id }}"
            },
            {
              "name": "lesson_num",
              "value": "={{ $('Webhook-homework').item.json.body.lesson_num }}"
            },
            {
              "name": "error_details",
              "value": "={{ $json.error }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        832,
        640
      ],
      "id": "7f936b8d-dfe5-4a16-a5f1-f496b1961371",
      "name": "HTTP Request (Error Fallback)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ekBe6PJguM1vYu7W",
          "name": "N8N_WEBHOOK_SECRE"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🚨 ОШИБКА ВОРКФЛОУ\n\nЕсли вы видите это — произошла критическая ошибка в цепочке обработки ДЗ.\n\n**Возможные причины:**\n- OpenRouter API недоступен\n- Неверный формат файла от студента\n- Превышен лимит времени обработки\n\n**Что делать:**\n1. Проверьте логи n8n: `docker compose logs n8n`\n2. Проверьте баланс OpenRouter\n3. Убедитесь что файл корректно скачался из Telegram",
        "height": 300,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        832,
        800
      ],
      "id": "f6a7b8c9-d0e1-2345-f012-456789012345",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 📊 Логирование\n\nВсе этапы обработки логируются:\n- 📸 Фото: размер, MIME тип\n- 🎧 Аудио: размер, предупреждения если >10 МБ\n- 🎥 Видео: размер, тип файла\n- 🤔 Ответ ИИ: первые 200 символов\n- ❌ Ошибки: детали парсинга\n\n**Для просмотра логов:**\n```bash\ndocker compose logs n8n | grep -E \"📸|🎧|🎥|🤔|❌\"\n```",
        "height": 250,
        "width": 350
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -160,
        800
      ],
      "id": "a7b8c9d0-e1f2-3456-0123-567890123456",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook-homework": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenRouter AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Route File Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route File Type": {
      "main": [
        [
          {
            "node": "Process Photo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Process Audio",
            "type": "main",
            "index": 0
          },
          {
            "node": "Process Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Photo": {
      "main": [
        [
          {
            "node": "OpenRouter AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Audio": {
      "main": [
        [
          {
            "node": "OpenRouter AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Video": {
      "main": [
        [
          {
            "node": "OpenRouter AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter AI": {
      "main": [
        [
          {
            "node": "Parse JSON Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request (Error Fallback)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON Response": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request (Error Fallback)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "logLevel": "verbose"
  },
  "versionId": "multimodal-v3-2026-03-01",
  "meta": {
    "instanceId": "14556ca7589cf14a5bd79ba5c472bcf1b451007380d01a7e3b562e771321d9e0"
  },
  "id": "2VqyCrDCshzIrBot",
  "tags": [
    {
      "name": "homework",
      "id": "1"
    },
    {
      "name": "multimodal",
      "id": "2"
    }
  ],
  "notes": "Мультимодальная проверка ДЗ: фото + аудио + видео + текст. Использует Gemini 2.5 Flash через OpenRouter API."
}
