n8n_flow.json
{
  "name": "n8n_flow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aa46a723-619e-42e9-8e51-49ba51813718",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        192,
        1216
      ],
      "id": "0590c5f6-8164-4ee0-b5c0-91211b88d496",
      "name": "Webhook-homework",
      "webhookId": "aa46a723-619e-42e9-8e51-49ba51813718",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ekBe6PJguM1vYu7W",
          "name": "N8N_WEBHOOK_SECRE"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "080ee5fb-782f-47d6-9d64-98ec8e8c52f2",
              "name": "student_user_id",
              "value": "={{ $json.body.student_user_id }}",
              "type": "string"
            },
            {
              "id": "78fcca79-e818-4b3c-803f-94deda4f3104",
              "name": "course_id",
              "value": "={{ $json.body.course_numeric_id }}",
              "type": "string"
            },
            {
              "id": "969420d2-791b-40a4-924d-ec7e332d3d6b",
              "name": "lesson_num",
              "value": "={{ $json.body.lesson_num }}",
              "type": "string"
            },
            {
              "id": "2d2c5f78-ecaf-408d-acdb-ff6d7a4d086d",
              "name": "admin_chat_id",
              "value": "={{ $json.body.admin_group_id }}",
              "type": "string"
            },
            {
              "id": "5b60f83f-1667-4f43-9ab5-e7aad6d988f1",
              "name": "target_message_id",
              "value": "={{ $json.body.original_admin_message_id || $json.body.admin_message_id }}",
              "type": "string"
            },
            {
              "id": "c324098f-8660-4435-acef-09352a9a0a45",
              "name": "student_name",
              "value": "={{ ($json.body.user_fullname || $json.body.student_name || 'Студент').split(' ')[0] }}",
              "type": "string"
            },
            {
              "id": "753df8c9-e2c2-4ea6-aef4-5608ef8f92b1",
              "name": "hw_text",
              "value": "={{ $json.body.homework_text || '[Текст отсутствует]' }}",
              "type": "string"
            },
            {
              "id": "2653261d-4f8b-494d-8bb3-975e69a96b0f",
              "name": "hw_file_id",
              "value": "={{ $json.body.homework_file_id || '' }}",
              "type": "string"
            },
            {
              "id": "2168a0e7-3cb9-44a2-b21c-85050c3405b2",
              "name": "lesson_desc",
              "value": "={{ $json.body.lesson_assignment_description ||'Оценить ДЗ' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        1216
      ],
      "id": "9ad9c3dc-01f3-4787-9b46-d4ff55e43163",
      "name": "Edit Fields",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5b1189a6-6cee-49af-ad61-c91de051a0ea",
              "leftValue": "={{ $('Edit Fields').first().json.hw_file_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        608,
        1216
      ],
      "id": "ec3fb10a-4e02-43f7-81e6-c7b5c52fc219",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Текстовое ДЗ (без файлов) - подготовка messages content\nconst hwText = $input.first().json.hw_text || $('Edit Fields').first().json.hw_text || '[Текст отсутствует]';\nconst studentName = $('Edit Fields').first().json.student_name || 'Студент';\nconst lessonDesc = $('Edit Fields').first().json.lesson_desc || 'Оценить ДЗ';\n\nconsole.log(`📝 Текстовое ДЗ от ${studentName}`);\n\n// Формируем messages content только с текстом\nconst messagesContent = [\n  {\n    type: \"text\",\n    text: `РАБОТА СТУДЕНТА:\\n${hwText}`\n  }\n];\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    messages_content: messagesContent\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        1440
      ],
      "id": "3abe1ac7-fa0a-4e3a-8c22-95f0bdd56e6e",
      "name": "Prepare Text Messages"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Edit Fields').item.json.hw_file_id }}",
        "additionalFields": {
          "mimeType": ""
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        800,
        1280
      ],
      "id": "46f93837-0c47-4bfa-a5e3-0bd8b54bc8ad",
      "name": "Get a file",
      "webhookId": "f2d472aa-3e48-4cd4-9321-2685e94ffe4c",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "waitBetweenTries": 200,
      "maxTries": 2,
      "credentials": {
        "telegramApi": {
          "id": "dppxB2BsMREfAmx6",
          "name": "Antbot_api"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ ['jpg', 'jpeg', 'png'].includes($binary.data.fileExtension) || $binary.data.mimeType.startsWith('image') ? 'image' :['ogg', 'mp3', 'wav', 'm4a', 'oga'].includes($binary.data.fileExtension) || $binary.data.mimeType.startsWith('audio') ? 'audio' : ['mp4', 'mov', 'avi'].includes($binary.data.fileExtension) || $binary.data.mimeType.startsWith('video') ? 'video' : 'unknown' }}",
        "rules": {
          "rules": [
            {
              "operation": "startsWith",
              "value2": "image"
            },
            {
              "operation": "startsWith",
              "value2": "audio"
            },
            {
              "operation": "startsWith",
              "value2": "video"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [
        976,
        1200
      ],
      "id": "4798db87-2e90-4c51-943a-7d9f37e7607a",
      "name": "Switch",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nif (!item || !item.binary || !item.binary.data) return[];\n\n// Читаем РЕАЛЬНЫЙ файл с диска n8n и переводим в Base64\nconst binaryBuffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst actualBase64String = binaryBuffer.toString('base64');\n\n// Чиним кривой тип от Телеграма\nlet mimeType = item.binary.data.mimeType;\nif (!mimeType || mimeType.includes('octet-stream')) {\n  mimeType = item.binary.data.fileExtension === 'png' ? 'image/png' : 'image/jpeg';\n}\n\nitem.json.base64_image = actualBase64String; \nitem.json.mime_type = mimeType;\nitem.json.file_type = 'image';\n\nreturn [item];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        1024
      ],
      "id": "833c517f-78d8-44c1-8303-faec9d653293",
      "name": "Process Photo"
    },
    {
      "parameters": {
        "jsCode": "// Ветка АУДИО: проверка размера + сохранение данных\n\nconst item = $input.first();\nif (!item || !item.binary || !item.binary.data) return[];\n\n// Читаем РЕАЛЬНЫЙ файл с диска n8n и переводим в Base64\nconst binaryBuffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst actualBase64String = binaryBuffer.toString('base64');\n\nlet mimeType = item.binary.data.mimeType || 'audio/ogg';\nconst fileSize = item.binary.data.fileSize || 0;\n\nif (fileSize > 10 * 1024 * 1024) {\n  item.json.audio_warning = `Аудио слишком большое. ИИ обработает только часть.`;\n}\n\nitem.json.audio_data = actualBase64String;\nitem.json.file_type = 'audio';\nitem.json.mime_type = mimeType;\n\nreturn [item];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        1184
      ],
      "id": "c3698a97-e0d0-4d2a-a437-f31144211bd3",
      "name": "Process Audio"
    },
    {
      "parameters": {
        "jsCode": "// Ветка ВИДЕО (кружочки/голосовые video/ogg): проверка + сохранение данных\nconst item = $input.first();\nif (!item || !item.binary || !item.binary.data) return[];\n\n// Читаем РЕАЛЬНЫЙ файл с диска n8n и переводим в Base64\nconst binaryBuffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst actualBase64String = binaryBuffer.toString('base64');\n\nlet mimeType = item.binary.data.mimeType || 'video/ogg';\nconst fileSize = item.binary.data.fileSize || 0;\n\nif (fileSize > 10 * 1024 * 1024) {\n  item.json.file_warning = `Файл слишком большой.`;\n}\n\nitem.json.audio_data = actualBase64String;\nitem.json.file_type = 'video';\nitem.json.mime_type = mimeType;\n\nreturn [item];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        1344
      ],
      "id": "a878bc4b-0795-448b-b520-d68b4d383b08",
      "name": "Process Video"
    },
    {
      "parameters": {
        "jsCode": "// Подготовка messages content для OpenRouter AI\nconst hwText = $input.first().json.hw_text || $('Edit Fields').first().json.hw_text || '[Текст отсутствует]';\nconst audioWarning = $input.first().json.audio_warning || '';\nconst fileWarning = $input.first().json.file_warning || '';\nconst base64Image = $input.first().json.base64_image || null;\nconst mimeType = $input.first().json.mime_type || '';\nconst fileType = $input.first().json.file_type || '';\nconst audioData = $input.first().json.audio_data || null;\n\n// Формируем text content\nlet textContent = `РАБОТА СТУДЕНТА:\\n${hwText}`;\nif (audioWarning) textContent += `\\n\\n⚠️ ${audioWarning}`;\nif (fileWarning) textContent += `\\n\\n⚠️ ${fileWarning}`;\n\n// Формируем messages content array\nconst messagesContent = [\n  {\n    type: \"text\",\n    text: textContent\n  }\n];\n\n// Добавляем image если есть\nif (base64Image && mimeType) {\n  messagesContent.push({\n    type: \"image_url\",\n    image_url: {\n      url: `data:${mimeType};base64,${base64Image}`\n    }\n  });\n}\n\n// Добавляем audio если есть (для audio и video)\nif (audioData && (fileType === 'audio' || fileType === 'video')) {\n  const audioFormat = mimeType.includes('ogg') ? 'ogg' : 'wav';\n  messagesContent.push({\n    type: \"input_audio\",\n    input_audio: {\n      data: audioData,\n      format: audioFormat\n    }\n  });\n}\n\nconsole.log('📝 Messages content prepared:', JSON.stringify(messagesContent).substring(0, 200));\n\n// 🔍 DEBUG для отладки\nconsole.log('🔍 Prepare AI Messages DEBUG:');\nconsole.log('  base64Image:', base64Image ? 'ЕСТЬ' : 'НЕТ');\nconsole.log('  mimeType:', mimeType || 'НЕТ');\nconsole.log('  fileType:', fileType || 'НЕТ');\nconsole.log('  audioData:', audioData ? 'ЕСТЬ' : 'НЕТ');\nconsole.log('  messages_content:', JSON.stringify(messagesContent));\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    messages_content: messagesContent\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        1184
      ],
      "id": "eb7d45ae-9201-477b-8630-7de2300226ae",
      "name": "Prepare AI Messages"
    },
    {
      "parameters": {
        "jsCode": "// Подготовка JSON для OpenRouter AI\n// Берем данные студента из самого начала\nconst studentName = $('Edit Fields').first().json.student_name || 'Студент';\nconst lessonDesc = $('Edit Fields').first().json.lesson_desc || 'Оценить ДЗ';\n\n// Берем контент, который мы подготовили в предыдущих нодах (текст + фото/аудио)\nconst messagesContent = $input.first().json.messages_content || [];\n\nconsole.log(`🤖 Подготовка запроса к ИИ для ${studentName}`);\n\nreturn [{\n  json: {\n    // Собираем готовый объект для OpenRouter\n    openrouter_request: {\n      model: 'google/gemini-2.5-flash',\n      response_format: { type: 'json_object' },\n      messages: [\n        {\n          role: 'system',\n          content: `Ты мудрый наставник на онлайн-курсе. Имя студента: ${studentName}.\\n\\nКонтекст задания:\\n${lessonDesc}\\n\\nТВОИ ПРАВИЛА:\\n1. Оцени работу. Если есть фото — посмотри, соответствует ли оно заданию.\\n2. Если есть аудио/видео — ИИ может напрямую воспринимать аудио.\\n3. Если работа осмысленная — ставь \"is_approved\": true. Бессмысленная — false.\\n4. Твой \"feedback_text\" должен быть личным, ободряющим, с правильными окончаниями.\\n5. Если студент прислал фото — упомяни конкретные детали.\\n\\nОтвет СТРОГО в формате JSON: {\"is_approved\": boolean, \"feedback_text\": \"string\"}`\n        },\n        {\n          role: 'user',\n          content: messagesContent\n        }\n      ]\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        1360
      ],
      "id": "d2f1f377-3c5b-471d-ab92-e820df9b36c7",
      "name": "Prepare OpenRouter JSON"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://n8n.indikov.ru"
            },
            {
              "name": "X-Title",
              "value": "AntBot Homework Checker"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.openrouter_request }}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1872,
        1536
      ],
      "id": "eb48b57c-38bf-43fb-b9d6-392de4e4daa5",
      "name": "OpenRouter AI",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "openRouterApi": {
          "id": "BT6u6hYxUcBltOkv",
          "name": "OpenRouter account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Парсинг ответа от OpenRouter\ntry {\n  const rawResponse = $input.item.json.choices[0].message.content;\n  \n  console.log('🤔 Сырой ответ ИИ:', rawResponse.substring(0, 200));\n  \n  const jsonMatch = rawResponse.match(/(\\{[\\s\\S]*\\})/);\n  \n  if (!jsonMatch || !jsonMatch[1]) {\n    throw new Error('Не удалось извлечь JSON из ответа ИИ');\n  }\n  \n  const parsedData = JSON.parse(jsonMatch[1]);\n  \n  if (typeof parsedData.is_approved !== 'boolean') {\n    throw new Error('is_approved должен быть boolean');\n  }\n  \n  if (typeof parsedData.feedback_text !== 'string') {\n    throw new Error('feedback_text должен быть string');\n  }\n  \n  return {\n    json: {\n      is_approved: parsedData.is_approved,\n      feedback_text: parsedData.feedback_text,\n      ai_raw_response: rawResponse\n    }\n  };\n} catch (error) {\n  console.error('❌ Ошибка парсинга:', error.message);\n  \n  return {\n    json: {\n      is_approved: true,\n      feedback_text: `⚠️ Возникла техническая проблема при анализе ИИ, поэтому задание одобрено автоматически. Спасибо за понимание!\\n\\n(Ошибка: ${error.message})`,\n      ai_raw_response: $input.item.json.choices?.[0]?.message?.content || 'Нет ответа',\n      parse_error: true\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2064,
        1344
      ],
      "id": "4105ceaf-ec08-410a-8b88-12ee76b2aa25",
      "name": "Parse JSON Response",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook-homework').item.json.body.callback_webhook_url_result }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-CALLBACK-SIGNATURE",
              "value": "500"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "feedback_text",
              "value": "={{ $('Parse JSON Response').item.json.feedback_text }}"
            },
            {
              "name": "is_approved",
              "value": "={{ $('Parse JSON Response').item.json.is_approved }}"
            },
            {
              "name": "original_admin_message_id",
              "value": "={{ $('Webhook-homework').item.json.body.original_admin_message_id || $('Webhook-homework').item.json.body.admin_message_id }}"
            },
            {
              "name": "student_user_id",
              "value": "={{ $('Edit Fields').item.json.student_user_id }}"
            },
            {
              "name": "course_numeric_id",
              "value": "={{ $('Webhook-homework').item.json.body.course_numeric_id }}"
            },
            {
              "name": "lesson_num",
              "value": "={{ $('Webhook-homework').item.json.body.lesson_num }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2320,
        1344
      ],
      "id": "bd5ab723-2dd8-411a-90d8-676f47c96801",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ekBe6PJguM1vYu7W",
          "name": "N8N_WEBHOOK_SECRE"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook-homework').item.json.body.callback_webhook_url_result }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-CALLBACK-SIGNATURE",
              "value": "500"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "feedback_text",
              "value": "⚠️ Возникла техническая проблема при проверке ДЗ, поэтому задание одобрено автоматически. Спасибо за понимание!"
            },
            {
              "name": "is_approved",
              "value": true
            },
            {
              "name": "original_admin_message_id",
              "value": "={{ $('Webhook-homework').item.json.body.original_admin_message_id || $('Webhook-homework').item.json.body.admin_message_id }}"
            },
            {
              "name": "student_user_id",
              "value": "={{ $('Edit Fields').item.json.student_user_id }}"
            },
            {
              "name": "course_numeric_id",
              "value": "={{ $('Webhook-homework').item.json.body.course_numeric_id }}"
            },
            {
              "name": "lesson_num",
              "value": "={{ $('Webhook-homework').item.json.body.lesson_num }}"
            },
            {
              "name": "error_details",
              "value": "={{ $json.error }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2320,
        1504
      ],
      "id": "de66127b-db2e-475b-9275-23351cab9e48",
      "name": "HTTP Request (Error Fallback)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ekBe6PJguM1vYu7W",
          "name": "N8N_WEBHOOK_SECRE"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🚨 ОШИБКА ВОРКФЛОУ\n\nЕсли вы видите это — произошла критическая ошибка в цепочке обработки ДЗ.\n\n**Возможные причины:**\n- OpenRouter API недоступен\n- Неверный формат файла от студента\n- Превышен лимит времени обработки\n\n**Что делать:**\n1. Проверьте логи n8n: `docker compose logs n8n`\n2. Проверьте баланс OpenRouter\n3. Убедитесь что файл корректно скачался из Telegram",
        "height": 460,
        "width": 592
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2320,
        1664
      ],
      "id": "53e3f5f9-6652-435c-a425-3304a8ef7f26",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 📊 Логирование\n\nВсе этапы обработки логируются:\n- 📸 Фото: размер, MIME тип\n- 🎧 Аудио: размер, предупреждения если >10 МБ\n- 🎥 Видео: размер, тип файла\n- 🤔 Ответ ИИ: первые 200 символов\n- ❌ Ошибки: детали парсинга\n\n**Для просмотра логов:**\n```bash\ndocker compose logs n8n | grep -E \"📸|🎧|🎥|🤔|❌\"\n```",
        "height": 314,
        "width": 350
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        992,
        1536
      ],
      "id": "e88f3566-1eb5-49ae-8481-14d6821a200c",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook-homework": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Text Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Text Messages": {
      "main": [
        [
          {
            "node": "Prepare OpenRouter JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Process Photo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Photo": {
      "main": [
        [
          {
            "node": "Prepare AI Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Audio": {
      "main": [
        [
          {
            "node": "Prepare AI Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Video": {
      "main": [
        [
          {
            "node": "Prepare AI Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Messages": {
      "main": [
        [
          {
            "node": "Prepare OpenRouter JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare OpenRouter JSON": {
      "main": [
        [
          {
            "node": "OpenRouter AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter AI": {
      "main": [
        [
          {
            "node": "Parse JSON Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request (Error Fallback)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON Response": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request (Error Fallback)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c3d33d06-a79b-4675-80f1-30b453df6a63",
  "meta": {
    "instanceId": "14556ca7589cf14a5bd79ba5c472bcf1b451007380d01a7e3b562e771321d9e0"
  },
  "id": "vzQALMCXBCd11Epz",
  "tags": []
}