n8n_flow.json
{
  "name": "good2AI Agent in n8n (Multimodal)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aa46a723-619e-42e9-8e51-49ba51813718",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        688,
        960
      ],
      "id": "c99f4e4d-8f7c-44e5-a066-0d7052247e85",
      "name": "Webhook-homework",
      "webhookId": "aa46a723-619e-42e9-8e51-49ba51813718",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ekBe6PJguM1vYu7W",
          "name": "N8N_WEBHOOK_SECRE"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "080ee5fb-782f-47d6-9d64-98ec8e8c52f2",
              "name": "student_user_id",
              "value": "={{ $json.body.student_user_id }}",
              "type": "string"
            },
            {
              "id": "78fcca79-e818-4b3c-803f-94deda4f3104",
              "name": "course_id",
              "value": "={{ $json.body.course_numeric_id }}",
              "type": "string"
            },
            {
              "id": "969420d2-791b-40a4-924d-ec7e332d3d6b",
              "name": "lesson_num",
              "value": "={{ $json.body.lesson_num }}",
              "type": "string"
            },
            {
              "id": "2d2c5f78-ecaf-408d-acdb-ff6d7a4d086d",
              "name": "admin_chat_id",
              "value": "={{ $json.body.admin_group_id }}",
              "type": "string"
            },
            {
              "id": "5b60f83f-1667-4f43-9ab5-e7aad6d988f1",
              "name": "target_message_id",
              "value": "={{ $json.body.original_admin_message_id || $json.body.admin_message_id }}",
              "type": "string"
            },
            {
              "id": "c324098f-8660-4435-acef-09352a9a0a45",
              "name": "student_name",
              "value": "={{ ($json.body.user_fullname || $json.body.student_name || 'Студент').split(' ')[0] }}",
              "type": "string"
            },
            {
              "id": "753df8c9-e2c2-4ea6-aef4-5608ef8f92b1",
              "name": "hw_text",
              "value": "={{ $json.body.homework_text || '[Текст отсутствует]' }}",
              "type": "string"
            },
            {
              "id": "2653261d-4f8b-494d-8bb3-975e69a96b0f",
              "name": "hw_file_id",
              "value": "={{ $json.body.homework_file_id || '' }}",
              "type": "string"
            },
            {
              "id": "2168a0e7-3cb9-44a2-b21c-85050c3405b2",
              "name": "lesson_desc",
              "value": "={{ $json.body.lesson_assignment_description ||'Оценить ДЗ' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        960
      ],
      "id": "5e90780f-7ead-42f0-a920-48d0c27d760b",
      "name": "Edit Fields",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5b1189a6-6cee-49af-ad61-c91de051a0ea",
              "leftValue": "={{ $('Edit Fields').item.json.hw_file_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1104,
        960
      ],
      "id": "fc9e4e42-94e5-417f-b764-084502e4d983",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Текстовое ДЗ (без файлов) - подготовка messages content\nconst hwText = $input.item.json.hw_text || $('Edit Fields').item.json.hw_text || '[Текст отсутствует]';\nconst studentName = $('Edit Fields').item.json.student_name || 'Студент';\nconst lessonDesc = $('Edit Fields').item.json.lesson_desc || 'Оценить ДЗ';\n\nconsole.log(`📝 Текстовое ДЗ от ${studentName}`);\n\n// Формируем messages content только с текстом\nconst messagesContent = [\n  {\n    type: \"text\",\n    text: `РАБОТА СТУДЕНТА:\\n${hwText}`\n  }\n];\n\nreturn [{\n  json: {\n    ...$input.item.json,\n    messages_content: messagesContent\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        1184
      ],
      "id": "db8fa270-6c2c-4053-ba46-419a6890c552",
      "name": "Prepare Text Messages"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Edit Fields').item.json.hw_file_id }}",
        "download": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1296,
        944
      ],
      "id": "ee907f71-a51f-49ee-83bb-2469ea1e7651",
      "name": "Get a file",
      "webhookId": "f2d472aa-3e48-4cd4-9321-2685e94ffe4c",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "waitBetweenTries": 200,
      "maxTries": 2,
      "credentials": {
        "telegramApi": {
          "id": "dppxB2BsMREfAmx6",
          "name": "Antbot_api"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Проверка типа файла и маршрутизация\nconst binaryData = $input.item.json.binary?.data;\nconst mimeType = binaryData?.mimeType || $input.item.json.mimeType || '';\nconst fileType = mimeType.split('/')[0];\n\nlet output = 0; // 0 = text/no file, 1 = image, 2 = audio, 3 = video\n\nif (mimeType.startsWith('image')) {\n  output = 1;\n} else if (mimeType.startsWith('audio')) {\n  output = 2;\n} else if (mimeType.startsWith('video')) {\n  output = 3;\n}\n\nreturn [{\n  json: {\n    ...$input.item.json,\n    file_type: fileType,\n    mime_type: mimeType,\n    route_output: output\n  },\n  binary: $input.item.json.binary  // ← Сохраняем binary!\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        928
      ],
      "id": "c1859512-d3f2-46bc-875d-d9709f8e4c22",
      "name": "Route File Type"
    },
    {
      "parameters": {
        "jsCode": "// Ветка ФОТО: конвертация в Base64\nconst binaryData = $input.first().binary?.data;\n\nif (!binaryData) {\n  throw new Error('Нет бинарных данных');\n}\n\nconst mimeType = binaryData.mimeType || 'image/jpeg';\nconst fileSize = binaryData.data?.length || 0;\n\nconsole.log(`📸 Фото: ${fileSize} байт, MIME: ${mimeType}`);\n\n$input.first().json.base64_image = binaryData.data;\n$input.first().json.mime_type = mimeType;\n$input.first().json.file_size = fileSize;\n$input.first().json.file_type = 'image';\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        768
      ],
      "id": "646b4992-8d89-4aad-85f9-db9d8509753e",
      "name": "Process Photo"
    },
    {
      "parameters": {
        "jsCode": "// Ветка АУДИО: проверка размера + сохранение данных\nconst binaryData = $input.first().binary?.data;\n\nif (!binaryData) {\n  throw new Error('Нет бинарных данных');\n}\n\nconst mimeType = binaryData.mimeType || 'audio/ogg';\nconst fileSize = binaryData.data?.length || 0;\nconst MAX_AUDIO_SIZE = 10 * 1024 * 1024; // 10 МБ\n\nconsole.log(`🎧 Аудио: ${fileSize} байт (${(fileSize / 1024 / 1024).toFixed(2)} МБ), MIME: ${mimeType}`);\n\nif (fileSize > MAX_AUDIO_SIZE) {\n  console.log(`⚠️ Аудио больше 10 МБ!`);\n  $input.first().json.audio_truncated = true;\n  $input.first().json.audio_warning = `Аудио слишком большое (${(fileSize / 1024 / 1024).toFixed(2)} МБ). ИИ обработает только часть.`;\n} else {\n  $input.first().json.audio_truncated = false;\n}\n\n// Сохраняем binary data для отправки в OpenRouter\n$input.first().json.audio_data = binaryData.data;\n$input.first().json.file_size = fileSize;\n$input.first().json.file_type = 'audio';\n$input.first().json.mime_type = mimeType;\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        928
      ],
      "id": "f9701ae0-84ee-452e-b674-feca53f772c3",
      "name": "Process Audio"
    },
    {
      "parameters": {
        "jsCode": "// Ветка ВИДЕО (кружочки/голосовые video/ogg): проверка + сохранение данных\nconst binaryData = $input.first().binary?.data;\n\nif (!binaryData) {\n  throw new Error('Нет бинарных данных');\n}\n\nconst mimeType = binaryData.mimeType || 'video/ogg';\nconst fileSize = binaryData.data?.length || 0;\nconst MAX_SIZE = 10 * 1024 * 1024; // 10 МБ\n\nconsole.log(`🎥 Видео/кружочек: ${fileSize} байт (${(fileSize / 1024 / 1024).toFixed(2)} МБ), MIME: ${mimeType}`);\n\nif (fileSize > MAX_SIZE) {\n  console.log(`⚠️ Видео больше 10 МБ!`);\n  $input.first().json.file_truncated = true;\n  $input.first().json.file_warning = `Файл слишком большой (${(fileSize / 1024 / 1024).toFixed(2)} МБ).`;\n} else {\n  $input.first().json.file_truncated = false;\n}\n\n// Сохраняем binary data для отправки в OpenRouter\n$input.first().json.audio_data = binaryData.data; // Gemini принимает аудио из видео как audio_data\n$input.first().json.file_size = fileSize;\n$input.first().json.file_type = 'video';\n$input.first().json.mime_type = mimeType;\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        1088
      ],
      "id": "870ac92f-fa6d-42cb-a2a9-9eb253c822de",
      "name": "Process Video"
    },
    {
      "parameters": {
        "jsCode": "// Подготовка messages content для OpenRouter AI\nconst hwText = $input.item.json.hw_text || $('Edit Fields').item.json.hw_text || '[Текст отсутствует]';\nconst audioWarning = $input.item.json.audio_warning || '';\nconst fileWarning = $input.item.json.file_warning || '';\nconst base64Image = $input.item.json.base64_image || null;\nconst mimeType = $input.item.json.mime_type || '';\nconst fileType = $input.item.json.file_type || '';\nconst audioData = $input.item.json.audio_data || null;\n\n// Формируем text content\nlet textContent = `РАБОТА СТУДЕНТА:\\n${hwText}`;\nif (audioWarning) textContent += `\\n\\n⚠️ ${audioWarning}`;\nif (fileWarning) textContent += `\\n\\n⚠️ ${fileWarning}`;\n\n// Формируем messages content array\nconst messagesContent = [\n  {\n    type: \"text\",\n    text: textContent\n  }\n];\n\n// Добавляем image если есть\nif (base64Image && mimeType) {\n  messagesContent.push({\n    type: \"image_url\",\n    image_url: {\n      url: `data:${mimeType};base64,${base64Image}`\n    }\n  });\n}\n\n// Добавляем audio если есть (для audio и video)\nif (audioData && (fileType === 'audio' || fileType === 'video')) {\n  const audioFormat = mimeType.includes('ogg') ? 'ogg' : 'wav';\n  messagesContent.push({\n    type: \"input_audio\",\n    input_audio: {\n      data: audioData,\n      format: audioFormat\n    }\n  });\n}\n\nconsole.log('📝 Messages content prepared:', JSON.stringify(messagesContent).substring(0, 200));\n\nreturn [{\n  json: {\n    ...$input.item.json,\n    messages_content: messagesContent\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        928
      ],
      "id": "d6ee30a7-fdcf-43dd-ba0c-f409610bed03",
      "name": "Prepare AI Messages"
    },
    {
      "parameters": {
        "jsCode": "// Подготовка JSON для OpenRouter AI\nconst studentName = $('Edit Fields').item.json.student_name || 'Студент';\nconst lessonDesc = $('Edit Fields').item.json.lesson_desc || 'Оценить ДЗ';\nconst messagesContent = $input.item.json.messages_content || [];\n\nconsole.log(`🤖 Подготовка запроса к ИИ для ${studentName}`);\n\nreturn [{\n  json: {\n    openrouter_request: {\n      model: 'google/gemini-2.5-flash',\n      response_format: { type: 'json_object' },\n      messages: [\n        {\n          role: 'system',\n          content: `Ты мудрый наставник на онлайн-курсе. Имя студента: ${studentName}.\\n\\nКонтекст задания:\\n${lessonDesc}\\n\\nТВОИ ПРАВИЛА:\\n1. Оцени работу. Если есть фото — посмотри, соответствует ли оно заданию.\\n2. Если есть аудио/видео — ИИ может напрямую воспринимать аудио.\\n3. Если работа осмысленная — ставь \"is_approved\": true. Бессмысленная — false.\\n4. Твой \"feedback_text\" должен быть личным, ободряющим, с правильными окончаниями.\\n5. Если студент прислал фото — упомяни конкретные детали.\\n\\nОтвет СТРОГО в формате JSON: {\"is_approved\": boolean, \"feedback_text\": \"string\"}`\n        },\n        {\n          role: 'user',\n          content: messagesContent\n        }\n      ]\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2128,
        1104
      ],
      "id": "61288c47-8205-4a02-bb33-b9be1463b572",
      "name": "Prepare OpenRouter JSON"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://n8n.indikov.ru"
            },
            {
              "name": "X-Title",
              "value": "AntBot Homework Checker"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.openrouter_request }}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2368,
        1280
      ],
      "id": "a9086ae4-f10f-4b62-8dae-56eb77a67ab3",
      "name": "OpenRouter AI",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "openRouterApi": {
          "id": "BT6u6hYxUcBltOkv",
          "name": "OpenRouter account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Парсинг ответа от OpenRouter\ntry {\n  const rawResponse = $input.item.json.choices[0].message.content;\n  \n  console.log('🤔 Сырой ответ ИИ:', rawResponse.substring(0, 200));\n  \n  const jsonMatch = rawResponse.match(/(\\{[\\s\\S]*\\})/);\n  \n  if (!jsonMatch || !jsonMatch[1]) {\n    throw new Error('Не удалось извлечь JSON из ответа ИИ');\n  }\n  \n  const parsedData = JSON.parse(jsonMatch[1]);\n  \n  if (typeof parsedData.is_approved !== 'boolean') {\n    throw new Error('is_approved должен быть boolean');\n  }\n  \n  if (typeof parsedData.feedback_text !== 'string') {\n    throw new Error('feedback_text должен быть string');\n  }\n  \n  return {\n    json: {\n      is_approved: parsedData.is_approved,\n      feedback_text: parsedData.feedback_text,\n      ai_raw_response: rawResponse\n    }\n  };\n} catch (error) {\n  console.error('❌ Ошибка парсинга:', error.message);\n  \n  return {\n    json: {\n      is_approved: true,\n      feedback_text: `⚠️ Возникла техническая проблема при анализе ИИ, поэтому задание одобрено автоматически. Спасибо за понимание!\\n\\n(Ошибка: ${error.message})`,\n      ai_raw_response: $input.item.json.choices?.[0]?.message?.content || 'Нет ответа',\n      parse_error: true\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2560,
        1088
      ],
      "id": "cf9e90bc-443b-41bf-bf28-b05ebdf08fd0",
      "name": "Parse JSON Response",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook-homework').item.json.body.callback_webhook_url_result }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-CALLBACK-SIGNATURE",
              "value": "=500"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "feedback_text",
              "value": "={{ $('Parse JSON Response').item.json.feedback_text }}"
            },
            {
              "name": "is_approved",
              "value": "={{ $('Parse JSON Response').item.json.is_approved }}"
            },
            {
              "name": "original_admin_message_id",
              "value": "={{ $('Webhook-homework').item.json.body.original_admin_message_id || $('Webhook-homework').item.json.body.admin_message_id }}"
            },
            {
              "name": "student_user_id",
              "value": "={{ $('Edit Fields').item.json.student_user_id }}"
            },
            {
              "name": "course_numeric_id",
              "value": "={{ $('Webhook-homework').item.json.body.course_numeric_id }}"
            },
            {
              "name": "lesson_num",
              "value": "={{ $('Webhook-homework').item.json.body.lesson_num }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2816,
        1088
      ],
      "id": "cb1c729a-634b-4cd2-ae11-ed87293dcbf3",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ekBe6PJguM1vYu7W",
          "name": "N8N_WEBHOOK_SECRE"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook-homework').item.json.body.callback_webhook_url_result }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-CALLBACK-SIGNATURE",
              "value": "=500"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "feedback_text",
              "value": "=⚠️ Возникла техническая проблема при проверке ДЗ, поэтому задание одобрено автоматически. Спасибо за понимание!"
            },
            {
              "name": "is_approved",
              "value": "=true"
            },
            {
              "name": "original_admin_message_id",
              "value": "={{ $('Webhook-homework').item.json.body.original_admin_message_id || $('Webhook-homework').item.json.body.admin_message_id }}"
            },
            {
              "name": "student_user_id",
              "value": "={{ $('Edit Fields').item.json.student_user_id }}"
            },
            {
              "name": "course_numeric_id",
              "value": "={{ $('Webhook-homework').item.json.body.course_numeric_id }}"
            },
            {
              "name": "lesson_num",
              "value": "={{ $('Webhook-homework').item.json.body.lesson_num }}"
            },
            {
              "name": "error_details",
              "value": "={{ $json.error }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2816,
        1248
      ],
      "id": "b07bd967-d9cd-4c76-b4cc-c2555b3c769c",
      "name": "HTTP Request (Error Fallback)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ekBe6PJguM1vYu7W",
          "name": "N8N_WEBHOOK_SECRE"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🚨 ОШИБКА ВОРКФЛОУ\n\nЕсли вы видите это — произошла критическая ошибка в цепочке обработки ДЗ.\n\n**Возможные причины:**\n- OpenRouter API недоступен\n- Неверный формат файла от студента\n- Превышен лимит времени обработки\n\n**Что делать:**\n1. Проверьте логи n8n: `docker compose logs n8n`\n2. Проверьте баланс OpenRouter\n3. Убедитесь что файл корректно скачался из Telegram",
        "height": 460,
        "width": 592
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2816,
        1408
      ],
      "id": "d78f8d0e-597a-4209-8301-32bde8469226",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 📊 Логирование\n\nВсе этапы обработки логируются:\n- 📸 Фото: размер, MIME тип\n- 🎧 Аудио: размер, предупреждения если >10 МБ\n- 🎥 Видео: размер, тип файла\n- 🤔 Ответ ИИ: первые 200 символов\n- ❌ Ошибки: детали парсинга\n\n**Для просмотра логов:**\n```bash\ndocker compose logs n8n | grep -E \"📸|🎧|🎥|🤔|❌\"\n```",
        "height": 314,
        "width": 350
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1488,
        1280
      ],
      "id": "f6c479b0-9f96-4736-bf2f-0ba3e72cd5ea",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook-homework": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Text Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Text Messages": {
      "main": [
        [
          {
            "node": "Prepare OpenRouter JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Route File Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route File Type": {
      "main": [
        [
          {
            "node": "Process Photo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Process Audio",
            "type": "main",
            "index": 0
          },
          {
            "node": "Process Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Photo": {
      "main": [
        [
          {
            "node": "Prepare AI Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Audio": {
      "main": [
        [
          {
            "node": "Prepare AI Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Video": {
      "main": [
        [
          {
            "node": "Prepare AI Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Messages": {
      "main": [
        [
          {
            "node": "Prepare OpenRouter JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare OpenRouter JSON": {
      "main": [
        [
          {
            "node": "OpenRouter AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter AI": {
      "main": [
        [
          {
            "node": "Parse JSON Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request (Error Fallback)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON Response": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request (Error Fallback)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e776f1ec-eaf8-436f-8f89-4a80238c0993",
  "meta": {
    "instanceId": "14556ca7589cf14a5bd79ba5c472bcf1b451007380d01a7e3b562e771321d9e0"
  },
  "id": "vzQALMCXBCd11Epz",
  "tags": []
}