n8n_flow.json
{
  "name": "n8n_flow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aa46a723-619e-42e9-8e51-49ba51813718",
        "authentication": "headerAuth",
        "options": null
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1152,
        2608
      ],
      "id": "ebd296da-55f2-4b39-92de-3e94f4e16492",
      "name": "Webhook-homework",
      "webhookId": "aa46a723-619e-42e9-8e51-49ba51813718",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ekBe6PJguM1vYu7W",
          "name": "N8N_WEBHOOK_SECRE"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "080ee5fb-782f-47d6-9d64-98ec8e8c52f2",
              "name": "student_user_id",
              "value": "={{ $json.body.student_user_id }}",
              "type": "string"
            },
            {
              "id": "78fcca79-e818-4b3c-803f-94deda4f3104",
              "name": "course_id",
              "value": "={{ $json.body.course_numeric_id }}",
              "type": "string"
            },
            {
              "id": "969420d2-791b-40a4-924d-ec7e332d3d6b",
              "name": "lesson_num",
              "value": "={{ $json.body.lesson_num }}",
              "type": "string"
            },
            {
              "id": "2d2c5f78-ecaf-408d-acdb-ff6d7a4d086d",
              "name": "admin_chat_id",
              "value": "={{ $json.body.admin_group_id }}",
              "type": "string"
            },
            {
              "id": "5b60f83f-1667-4f43-9ab5-e7aad6d988f1",
              "name": "target_message_id",
              "value": "={{ $json.body.original_admin_message_id || $json.body.admin_message_id }}",
              "type": "string"
            },
            {
              "id": "c324098f-8660-4435-acef-09352a9a0a45",
              "name": "student_name",
              "value": "={{ ($json.body.user_fullname || $json.body.student_name || 'Студент').split(' ')[0] }}",
              "type": "string"
            },
            {
              "id": "753df8c9-e2c2-4ea6-aef4-5608ef8f92b1",
              "name": "hw_text",
              "value": "={{ $json.body.homework_text || '[Текст отсутствует]' }}",
              "type": "string"
            },
            {
              "id": "2653261d-4f8b-494d-8bb3-975e69a96b0f",
              "name": "hw_file_id",
              "value": "={{ $json.body.homework_file_id || '' }}",
              "type": "string"
            },
            {
              "id": "2168a0e7-3cb9-44a2-b21c-85050c3405b2",
              "name": "lesson_desc",
              "value": "={{ $json.body.lesson_assignment_description ||'Оценить ДЗ' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": null
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        2608
      ],
      "id": "c767a3f4-e2de-4779-8610-00135d69a0f1",
      "name": "Edit Fields",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5b1189a6-6cee-49af-ad61-c91de051a0ea",
              "leftValue": "={{ $('Edit Fields').item.json.hw_file_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": null
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1568,
        2608
      ],
      "id": "c48fe72c-4461-4a12-ae13-500c5a36f35b",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Текстовое ДЗ (без файлов) - подготовка messages content\nconst hwText = $input.first().json.hw_text || $('Edit Fields').first().json.hw_text || '[Текст отсутствует]';\nconst studentName = $('Edit Fields').first().json.student_name || 'Студент';\nconst lessonDesc = $('Edit Fields').first().json.lesson_desc || 'Оценить ДЗ';\n\nconsole.log(`📝 Текстовое ДЗ от ${studentName}`);\n\n// Формируем messages content только с текстом\nconst messagesContent = [\n  {\n    type: \"text\",\n    text: `РАБОТА СТУДЕНТА:\\n${hwText}`\n  }\n];\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    messages_content: messagesContent\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        2832
      ],
      "id": "e776610f-81b2-4f2b-8c3a-88491135a214",
      "name": "Prepare Text Messages"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Edit Fields').item.json.hw_file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1760,
        2672
      ],
      "id": "07b29f88-8d31-44a5-815f-ae83489c04dc",
      "name": "Get a file",
      "webhookId": "f2d472aa-3e48-4cd4-9321-2685e94ffe4c",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "waitBetweenTries": 200,
      "maxTries": 2,
      "credentials": {
        "telegramApi": {
          "id": "dppxB2BsMREfAmx6",
          "name": "Antbot_api"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "value1": "={{ $json.mimeType }}",
              "value2": "image",
              "operation": "startsWith"
            },
            {
              "value1": "={{ $json.mimeType }}",
              "value2": "audio",
              "operation": "startsWith"
            },
            {
              "value1": "={{ $json.mimeType }}",
              "value2": "video",
              "operation": "startsWith"
            }
          ]
        },
        "dataType": "string",
        "outputKey": "rule"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1936,
        2592
      ],
      "id": "226aae54-49b5-4509-b77f-4abc043bbdfc",
      "name": "Switch",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Ветка ФОТО: конвертация в Base64\nconst item = $input.first();\nif (!item || !item.binary || !item.binary.data) {\n  return []; // Если файла нет, тихо останавливаем эту ветку\n}\n\nconst binaryData = item.binary.data;\nconst mimeType = item.binary.mimeType || 'image/jpeg';\nconst fileSize = binaryData.length || 0;\n\nconsole.log(`📸 Фото: ${fileSize} байт, MIME: ${mimeType}`);\n\nitem.json.base64_image = binaryData;\nitem.json.mime_type = mimeType;\nitem.json.file_size = fileSize;\nitem.json.file_type = 'image';\n\nreturn [item];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2144,
        2416
      ],
      "id": "0d6e7e33-bff3-4e95-8311-a84905f31ad5",
      "name": "Process Photo",
      "onError": "stopWorkflow"
    },
    {
      "parameters": {
        "jsCode": "// Ветка АУДИО: проверка размера + сохранение данных\nconst item = $input.first();\nif (!item || !item.binary || !item.binary.data) {\n  return []; // Если файла нет, тихо останавливаем эту ветку\n}\n\nconst binaryData = item.binary.data;\nconst mimeType = item.binary.mimeType || 'audio/ogg';\nconst fileSize = binaryData.length || 0;\nconst MAX_AUDIO_SIZE = 10 * 1024 * 1024; // 10 МБ\n\nconsole.log(`🎧 Аудио: ${fileSize} байт (${(fileSize / 1024 / 1024).toFixed(2)} МБ), MIME: ${mimeType}`);\n\nif (fileSize > MAX_AUDIO_SIZE) {\n  console.log(`⚠️ Аудио больше 10 МБ!`);\n  item.json.audio_truncated = true;\n  item.json.audio_warning = `Аудио слишком большое (${(fileSize / 1024 / 1024).toFixed(2)} МБ). ИИ обработает только часть.`;\n} else {\n  item.json.audio_truncated = false;\n}\n\n// Сохраняем binary data для отправки в OpenRouter\nitem.json.audio_data = binaryData;\nitem.json.file_size = fileSize;\nitem.json.file_type = 'audio';\nitem.json.mime_type = mimeType;\n\nreturn [item];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2144,
        2576
      ],
      "id": "8941124f-dc96-4391-9d4b-da824f8671e1",
      "name": "Process Audio",
      "onError": "stopWorkflow"
    },
    {
      "parameters": {
        "jsCode": "// Ветка ВИДЕО (кружочки/голосовые video/ogg): проверка + сохранение данных\nconst item = $input.first();\nif (!item || !item.binary || !item.binary.data) {\n  return []; // Если файла нет, тихо останавливаем эту ветку\n}\n\nconst binaryData = item.binary.data;\nconst mimeType = item.binary.mimeType || 'video/ogg';\nconst fileSize = binaryData.length || 0;\nconst MAX_SIZE = 10 * 1024 * 1024; // 10 МБ\n\nconsole.log(`🎥 Видео/кружочек: ${fileSize} байт (${(fileSize / 1024 / 1024).toFixed(2)} МБ), MIME: ${mimeType}`);\n\nif (fileSize > MAX_SIZE) {\n  console.log(`⚠️ Видео больше 10 МБ!`);\n  item.json.file_truncated = true;\n  item.json.file_warning = `Файл слишком большой (${(fileSize / 1024 / 1024).toFixed(2)} МБ).`;\n} else {\n  item.json.file_truncated = false;\n}\n\n// Сохраняем binary data для отправки в OpenRouter\nitem.json.audio_data = binaryData; // Gemini принимает аудио из видео как audio_data\nitem.json.file_size = fileSize;\nitem.json.file_type = 'video';\nitem.json.mime_type = mimeType;\n\nreturn [item];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2144,
        2736
      ],
      "id": "c57cc78c-1e4f-4c4d-ac26-0868e115625a",
      "name": "Process Video",
      "onError": "stopWorkflow"
    },
    {
      "parameters": {
        "jsCode": "// Подготовка messages content для OpenRouter AI\nconst hwText = $input.first().json.hw_text || $('Edit Fields').first().json.hw_text || '[Текст отсутствует]';\nconst audioWarning = $input.first().json.audio_warning || '';\nconst fileWarning = $input.first().json.file_warning || '';\nconst base64Image = $input.first().json.base64_image || null;\nconst mimeType = $input.first().json.mime_type || '';\nconst fileType = $input.first().json.file_type || '';\nconst audioData = $input.first().json.audio_data || null;\n\n// Формируем text content\nlet textContent = `РАБОТА СТУДЕНТА:\\n${hwText}`;\nif (audioWarning) textContent += `\\n\\n⚠️ ${audioWarning}`;\nif (fileWarning) textContent += `\\n\\n⚠️ ${fileWarning}`;\n\n// Формируем messages content array\nconst messagesContent = [\n  {\n    type: \"text\",\n    text: textContent\n  }\n];\n\n// Добавляем image если есть\nif (base64Image && mimeType) {\n  messagesContent.push({\n    type: \"image_url\",\n    image_url: {\n      url: `data:${mimeType};base64,${base64Image}`\n    }\n  });\n}\n\n// Добавляем audio если есть (для audio и video)\nif (audioData && (fileType === 'audio' || fileType === 'video')) {\n  const audioFormat = mimeType.includes('ogg') ? 'ogg' : 'wav';\n  messagesContent.push({\n    type: \"input_audio\",\n    input_audio: {\n      data: audioData,\n      format: audioFormat\n    }\n  });\n}\n\nconsole.log('📝 Messages content prepared:', JSON.stringify(messagesContent).substring(0, 200));\n\n// 🔍 DEBUG для отладки\nconsole.log('🔍 Prepare AI Messages DEBUG:');\nconsole.log('  base64Image:', base64Image ? 'ЕСТЬ' : 'НЕТ');\nconsole.log('  mimeType:', mimeType || 'НЕТ');\nconsole.log('  fileType:', fileType || 'НЕТ');\nconsole.log('  audioData:', audioData ? 'ЕСТЬ' : 'НЕТ');\nconsole.log('  messages_content:', JSON.stringify(messagesContent));\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    messages_content: messagesContent\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2384,
        2576
      ],
      "id": "db5f5380-ea46-45ac-b282-30db18893bc3",
      "name": "Prepare AI Messages"
    },
    {
      "parameters": {
        "jsCode": "// Подготовка JSON для OpenRouter AI\n// Берем данные студента из самого начала\nconst studentName = $('Edit Fields').first().json.student_name || 'Студент';\nconst lessonDesc = $('Edit Fields').first().json.lesson_desc || 'Оценить ДЗ';\n\n// Берем контент, который мы подготовили в предыдущих нодах (текст + фото/аудио)\nconst messagesContent = $input.first().json.messages_content || [];\n\nconsole.log(`🤖 Подготовка запроса к ИИ для ${studentName}`);\n\nreturn [{\n  json: {\n    // Собираем готовый объект для OpenRouter\n    openrouter_request: {\n      model: 'google/gemini-2.5-flash',\n      response_format: { type: 'json_object' },\n      messages: [\n        {\n          role: 'system',\n          content: `Ты мудрый наставник на онлайн-курсе. Имя студента: ${studentName}.\\n\\nКонтекст задания:\\n${lessonDesc}\\n\\nТВОИ ПРАВИЛА:\\n1. Оцени работу. Если есть фото — посмотри, соответствует ли оно заданию.\\n2. Если есть аудио/видео — ИИ может напрямую воспринимать аудио.\\n3. Если работа осмысленная — ставь \"is_approved\": true. Бессмысленная — false.\\n4. Твой \"feedback_text\" должен быть личным, ободряющим, с правильными окончаниями.\\n5. Если студент прислал фото — упомяни конкретные детали.\\n\\nОтвет СТРОГО в формате JSON: {\"is_approved\": boolean, \"feedback_text\": \"string\"}`\n        },\n        {\n          role: 'user',\n          content: messagesContent\n        }\n      ]\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2592,
        2752
      ],
      "id": "1165e267-a2b5-4717-9951-9ca201224f8e",
      "name": "Prepare OpenRouter JSON"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://n8n.indikov.ru"
            },
            {
              "name": "X-Title",
              "value": "AntBot Homework Checker"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.openrouter_request }}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2832,
        2928
      ],
      "id": "4ce25cfe-d0cb-49d6-ad32-a3d22b878606",
      "name": "OpenRouter AI",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "openRouterApi": {
          "id": "BT6u6hYxUcBltOkv",
          "name": "OpenRouter account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Парсинг ответа от OpenRouter\ntry {\n  const rawResponse = $input.item.json.choices[0].message.content;\n  \n  console.log('🤔 Сырой ответ ИИ:', rawResponse.substring(0, 200));\n  \n  const jsonMatch = rawResponse.match(/(\\{[\\s\\S]*\\})/);\n  \n  if (!jsonMatch || !jsonMatch[1]) {\n    throw new Error('Не удалось извлечь JSON из ответа ИИ');\n  }\n  \n  const parsedData = JSON.parse(jsonMatch[1]);\n  \n  if (typeof parsedData.is_approved !== 'boolean') {\n    throw new Error('is_approved должен быть boolean');\n  }\n  \n  if (typeof parsedData.feedback_text !== 'string') {\n    throw new Error('feedback_text должен быть string');\n  }\n  \n  return {\n    json: {\n      is_approved: parsedData.is_approved,\n      feedback_text: parsedData.feedback_text,\n      ai_raw_response: rawResponse\n    }\n  };\n} catch (error) {\n  console.error('❌ Ошибка парсинга:', error.message);\n  \n  return {\n    json: {\n      is_approved: true,\n      feedback_text: `⚠️ Возникла техническая проблема при анализе ИИ, поэтому задание одобрено автоматически. Спасибо за понимание!\\n\\n(Ошибка: ${error.message})`,\n      ai_raw_response: $input.item.json.choices?.[0]?.message?.content || 'Нет ответа',\n      parse_error: true\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3024,
        2736
      ],
      "id": "8ca20969-e9de-4c9a-bd33-2a2d603f1e32",
      "name": "Parse JSON Response",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook-homework').item.json.body.callback_webhook_url_result }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-CALLBACK-SIGNATURE",
              "value": "=500"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "feedback_text",
              "value": "={{ $('Parse JSON Response').item.json.feedback_text }}"
            },
            {
              "name": "is_approved",
              "value": "={{ $('Parse JSON Response').item.json.is_approved }}"
            },
            {
              "name": "original_admin_message_id",
              "value": "={{ $('Webhook-homework').item.json.body.original_admin_message_id || $('Webhook-homework').item.json.body.admin_message_id }}"
            },
            {
              "name": "student_user_id",
              "value": "={{ $('Edit Fields').item.json.student_user_id }}"
            },
            {
              "name": "course_numeric_id",
              "value": "={{ $('Webhook-homework').item.json.body.course_numeric_id }}"
            },
            {
              "name": "lesson_num",
              "value": "={{ $('Webhook-homework').item.json.body.lesson_num }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3280,
        2736
      ],
      "id": "ac33c562-7b47-4385-a7a3-a0b5345702bf",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ekBe6PJguM1vYu7W",
          "name": "N8N_WEBHOOK_SECRE"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook-homework').item.json.body.callback_webhook_url_result }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-CALLBACK-SIGNATURE",
              "value": "=500"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "feedback_text",
              "value": "=⚠️ Возникла техническая проблема при проверке ДЗ, поэтому задание одобрено автоматически. Спасибо за понимание!"
            },
            {
              "name": "is_approved",
              "value": "=true"
            },
            {
              "name": "original_admin_message_id",
              "value": "={{ $('Webhook-homework').item.json.body.original_admin_message_id || $('Webhook-homework').item.json.body.admin_message_id }}"
            },
            {
              "name": "student_user_id",
              "value": "={{ $('Edit Fields').item.json.student_user_id }}"
            },
            {
              "name": "course_numeric_id",
              "value": "={{ $('Webhook-homework').item.json.body.course_numeric_id }}"
            },
            {
              "name": "lesson_num",
              "value": "={{ $('Webhook-homework').item.json.body.lesson_num }}"
            },
            {
              "name": "error_details",
              "value": "={{ $json.error }}"
            }
          ]
        },
        "options": null
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3280,
        2896
      ],
      "id": "9bd98a8b-a8f4-491f-9583-09e932e72923",
      "name": "HTTP Request (Error Fallback)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ekBe6PJguM1vYu7W",
          "name": "N8N_WEBHOOK_SECRE"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🚨 ОШИБКА ВОРКФЛОУ\n\nЕсли вы видите это — произошла критическая ошибка в цепочке обработки ДЗ.\n\n**Возможные причины:**\n- OpenRouter API недоступен\n- Неверный формат файла от студента\n- Превышен лимит времени обработки\n\n**Что делать:**\n1. Проверьте логи n8n: `docker compose logs n8n`\n2. Проверьте баланс OpenRouter\n3. Убедитесь что файл корректно скачался из Telegram",
        "height": 460,
        "width": 592
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3280,
        3056
      ],
      "id": "734c7220-819c-4fdf-8c99-ad0ff4eaa39d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 📊 Логирование\n\nВсе этапы обработки логируются:\n- 📸 Фото: размер, MIME тип\n- 🎧 Аудио: размер, предупреждения если >10 МБ\n- 🎥 Видео: размер, тип файла\n- 🤔 Ответ ИИ: первые 200 символов\n- ❌ Ошибки: детали парсинга\n\n**Для просмотра логов:**\n```bash\ndocker compose logs n8n | grep -E \"📸|🎧|🎥|🤔|❌\"\n```",
        "height": 314,
        "width": 350
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1952,
        2928
      ],
      "id": "9e66bd83-36e4-454a-83d1-e3adc90ccd6f",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook-homework": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Text Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Text Messages": {
      "main": [
        [
          {
            "node": "Prepare OpenRouter JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Process Photo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Photo": {
      "main": [
        [
          {
            "node": "Prepare AI Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Audio": {
      "main": [
        [
          {
            "node": "Prepare AI Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Video": {
      "main": [
        [
          {
            "node": "Prepare AI Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Messages": {
      "main": [
        [
          {
            "node": "Prepare OpenRouter JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare OpenRouter JSON": {
      "main": [
        [
          {
            "node": "OpenRouter AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter AI": {
      "main": [
        [
          {
            "node": "Parse JSON Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request (Error Fallback)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON Response": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request (Error Fallback)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5a9eaff6-6d73-4ec4-99e5-bde7fcc3943d",
  "meta": {
    "instanceId": "14556ca7589cf14a5bd79ba5c472bcf1b451007380d01a7e3b562e771321d9e0"
  },
  "id": "vzQALMCXBCd11Epz",
  "tags": []
}